# Django Settings
SECRET_KEY=your-secret-key-here
DEBUG=False
ALLOWED_HOSTS=34.185.155.86

# CORS Settings
# Ionos Frontend URL oder IP des Frontends eintragen
CORS_ALLOWED_ORIGINS=http://34.185.155.86
