.main-content {
  margin-left: 232px;
  margin-top: 96px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 96px);
  overflow: hidden;
}

.content-area {
  flex: 1;
  overflow: hidden;
  background-color: #f6f7f8;
}

@media (max-width: 1025px) {
  .main-content {
    margin-left: 0;
    margin-top: 80px;
    margin-bottom: 70px;
    height: calc(100vh - 150px);
  }

  .content-area {
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
